<div class="content">
  <a href="{{ site.baseurl }}{{ post.permalink }}"><h3 class="title">{{ post.title }}</h3></a>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_links != empty %}
    {% for project in post.project_links %}
    <a href="{{ project.link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{project.icon}} fa-lg"></i>{{project.text}}</button></a>
    {% endfor %}
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
